@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.mantine-Select-dropdown {
  z-index: 9999 !important;
}

/* Set scrollbar width to zero */
::-webkit-scrollbar {
  width: 0;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
